
<h1>Login</h1>

<form class="form-horizontal" name="form" ng-submit="login.login(form)" novalidate>

  <div class="form-group" ng-class="{ 'has-success': form.email.$valid && form.email.$touched,
  'has-error': form.email.$invalid && form.email.$touched }">
  <label for="email" class="col-sm-3 control-label">Adresse mail</label>

  <div class="col-sm-9">
    <input id="email" type="email" name="email" class="form-control" ng-model="login.user.email" 
    required
    mongoose-error/>

    <div ng-messages="form.email.$error" class="help-block" ng-show="form.email.$touched">
      <div ng-message="email">
        Cela ne ressemble pas à une adresse mail valide.
      </div>
      <div ng-message="required">
        Quelle est votre adresse mail?
      </div>
      <div ng-message="unknown">
        Cette adresse email est inconnue.
      </div>
    </div>
  </div>
</div>

<div class="form-group" ng-class="{ 'has-success': form.password.$valid && form.$submitted,
'has-error': form.password.$invalid && form.$submitted }">
<label for="password" class="col-sm-3 control-label">Mot de passe</label>
<div class="col-sm-9">
  <input id = "password" type="password" name="password" class="form-control" ng-model="login.user.password" required>
  <div ng-messages="form.password.$error" class="help-block">
    <div ng-message="incorrect">
    Ce mot de passe est incorrect.
    </div>
  </div>
</div>
</div>



<div class="form-group">
  <div class="col-sm-6">
    <button class="btn btn-primary btn-lg btn-block" type="submit">
      Se connecter
    </button>

  </div>
  <div class="col-sm-6">
    <br>
    <pwdresetlink>Vous avez perdu votre mot de passe?</pwdresetlink>
  </div>
</div>



</form>
