node_modules
public
.tmp
.sass-cache
.idea
client/bower_components
dist
/server/config/local.env.js
haltmongo.sh
startmongo.sh
ludic.sublime-project
ludic.sublime-workspace
ludiic.sublime-workspace
ludiic.sublime-project
