
<div class="row">
  <div class="col-sm-12">
    <form class="form-horizontal" name="form" ng-submit="pwdctrl.changePassword(form)" novalidate>

      <div class="form-group">
        <label for="oldpassword" class="col-sm-3 control-label">Ancien mot de passe</label>
        <div class="col-sm-9">
          <input id = "oldpasword" type="password" name="password" class="form-control" ng-model="pwdctrl.user.oldPassword" required
          mongoose-error/>
          <div ng-messages="form.password.$error" class="help-block"  ng-show="form.name.$touched">
            <div ng-message="required">
              L'ancien mot de passe est nécessaire.
            </div>
            <div ng-message="mongoose">
              {{ pwdctrl.errors.other }}
              </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="newpassword" class="col-sm-3 control-label">Nouveau mot de passe</label>
        <div class="col-sm-9">
          <input id = "newpasword" type="password" name="newPassword" class="form-control" ng-model="pwdctrl.user.newPassword"
          ng-minlength="3"
          required/>
          <div ng-messages="form.newPassword.$error" class="help-block"  ng-show="form.password.$touched">
            <div ng-message="minlength">
              Votre nouveau mot de passe doit faire plus de 3 caractères.
            </div>
            <div ng-message="required">
              Un nouveau mot de passe est nécessaire.
            </div>
            <div ng-message="mongoose">
              {{ pwdctrl.errors.password }}
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
          <button class="btn btn-lg btn-primary" type="submit">Sauvegarder</button>
        </div>
      </div>


          <div class="alert alert-success" role="alert" ng-show="pwdctrl.message.length>0"> 
            {{ pwdctrl.message }}
          </div>
    </form>
    
  </div>
</div>
