
       <h1>Créer un compte</h1>


      <form class="form-horizontal" name="form" ng-submit="register(form)" novalidate>

        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
          <label for="name" class="col-sm-3 control-label">Nom</label>
          <div class="col-sm-9">
            <input id="name" type="text" name="name" class="form-control" ng-model="user.name"
                   required/>
            <div ng-messages="form.name.$error" class="help-block"  ng-show="form.name.$touched">
              <div ng-message="required">
                Un nom est nécessaire.
              </div>
            </div>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && form.email.$touched,
                                            'has-error': form.email.$invalid && form.email.$touched }">
          <label for="email" class="col-sm-3 control-label">Adresse mail</label>

          <div class="col-sm-9">
            <input id="email" type="email" name="email" class="form-control" ng-model="user.email" 
                   required
                   mongoose-error/>

            <div ng-messages="form.email.$error" class="help-block"  ng-show="form.email.$touched">
              <div ng-message="email">
                Cela ne ressemble pas à une adresse mail valide.
              </div>
              <div ng-message="required">
                Quelle est votre adresse mail?
              </div>
              <div ng-message="mongoose">
                {{ errors.email }}
              </div>
            </div>
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && form.password.$touched,
                                            'has-error': form.password.$invalid && form.password.$touched }">
          <label for="password" class="col-sm-3 control-label">Mot de passe</label>

          <div class="col-sm-9">
            <input id="password" type="password" name="password" class="form-control" ng-model="user.password"
                   ng-minlength="3"
                   required
                   mongoose-error/>

            <div ng-messages="form.password.$error" class="help-block"  ng-show="form.password.$touched">
              <div ng-message="minlength">
                Votre mot de passe doit faire plus de 3 caractères.
              </div>
              <div ng-message="required">
                Un mot de passe est nécessaire.
              </div>
              <div ng-message="mongoose">
                {{ errors.password }}
              </div>
            </div>
          </div>  
        </div>
        <br />
        <p>En créant un compte, vous acceptez les <a ui-sref="CGU">Conditions Générales d'Utilisation</a> de Ludiic</p>

        <div class="form-group">
          <div class=" col-sm-12">
            <button class="btn btn-primary btn-lg btn-block" type="submit">
              Créer un compte
            </button>
          </div>
        </div>
        
      </form>


